@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

html,
body {
  --blue: #0029ff;
  --ivory: #fffff2;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.bigman {
  min-height: 100vh;
  background-color: var(--blue);
  transition: 0.25s all ease;
}

.ivorybg {
  background: var(--ivory);
}

.click {
  cursor: pointer;
}

::selection {
  background: var(--ivory);
  color: var(--blue);
}

a {
  color: var(--ivory);
  text-decoration: none;
}

.textblue {
  color: var(--blue);
}

.ivorytext {
  color: var(--ivory);
}

* {
  box-sizing: border-box;
}

.sec {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding-top: 3em;
  padding-bottom: 3em;
}

.container {
  width: 85%;
}

.nav {
  position: absolute;
  top: 1%;
  right: 1%;
  font-weight: 400;
  font-size: 1.1rem;
  gap: 16px;
  transition: 0.25s all ease;
  padding: 2rem 2rem 2rem 2rem;
}

.nav:hover {
  text-decoration: underline;
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--ivory);
}

p {
  font-size: 14px;
  font-weight: 300;
}

.h1 {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
}

@media screen and (max-width: 567px) {
  .midmebaby {
    font-size: 35px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
